<nav>
	<LinkTo @route="goals">Home</LinkTo>
	<LinkTo @route="goals">All Goals</LinkTo>
	<a href="">About</a>
	<LinkTo @route="goals">New Goal</LinkTo>
</nav>

<main>
	<h1>Welcome to the Best Goals App</h1>

	{{outlet}}
</main>